.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.desc {
  font-size: 16px;
}
.header {
  background-color: rgba(0, 0, 0, 0.7);
  color: bisque;
  margin: 0 auto 40px;
}

.col {
  padding: 50px;
}
.header {
  font-weight: 600;
  font-size: 25px;
}
.card-img-top {
  max-height: 300px;
}
.card button {
  margin-bottom: 10px;
}
